.container {
    width: 100%;
    padding: 0 25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.1rem;
}

.blogs {
    max-width: 500px;
    margin: 2rem auto;

    a {
        display: block;

        &+a {
            margin-top: 1rem;
            padding-top: 2rem;
        }

        time {
            font-size: 1rem;
            display: flex;
            align-items: center;
            color: var(--cinza-200);
        }

        img {
            max-width: 100%;
            max-height: 410px;
            border: 2px solid var(--azul-900);
            border-radius: 6px;
            border-image: linear-gradient(95deg, #31b4d0, transparent) 1;
        }

        strong {
            display: block;
            font-size: 1.5rem;
            margin: 1rem 0;
            line-height: 2rem;
            color: var(--branco);
            transition: color 0.3s;
        }

        p {
            color: var(--branco);
            margin-top: 0.5rem;
            line-height: 1.62rem;
        }

        &:hover strong {
            color: var(--azul-900);
        }
    }
}

.botaonavegacao {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: row;
    }

    button {
        margin: 0 5px;
        border: 0;
        background: var(--azul-900);
        color: var(--branco);
        display: flex;
        padding: 0.5rem;
        border-radius: 5px;
    }

    svg {
        padding: 0 3px;
    }
}